<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nichelle Columba's Biography</title>
</head>
<body>
    <h1> The Life of Nichelle Columba </h1>
    <h2> An undergraduate at the University of Maryland</h2>
    <h2> President of MOS, KPMG Campus Ambassador</h2>
    <p> Nichelle Columba is an <em>undergraduate</em> at the <strong>University of Maryland - Robert H. Smith School of Business</strong>
        majoring in Accounting and Information Systems, <strong>graduating</strong> and CPA eligible <em>May 2023</em></p>
    <p>She lives in Derwood, Maryland! Her hobbies are to watch Netflix, eat food, and sleep.</p>
    <p> These are her favorite foods!</p> <!-- The unordered and ordered list of Nichelle's favorite things!-->
    <ul>
        <li>Cheese Pizza</li>
        <li>Strawberry Ice Cream</li>
        <li> Combination Fried Rice</li>
        <li> Chocolate Chip Cookies</li>
    </ul>
    <p> These are her favorite movies on Netflix!</p>
    <ol>
        <li> That 70's Show </li>
        <li> You </li>
        <li> Better Than Us </li>
        <li> Don't Worry Darling </li>
    </ol>
    <table>
        <tr>
            <th> Course Name </th> <!--The classes Nichelle enrolled in for certain semesters-->
            <th> Semester </th>
        </tr>
        <tr>
            <td> BMGT380</td>
            <td> Spring 2021</td>
        </tr>
        <tr>
            <td> BMGT495</td>
            <td> Spring 2021</td>
        </tr>
        <tr>
            <td> BMGT301</td>
            <td> Fall 2021</td>
        </tr>
        <tr>
            <td> BMGT302</td>
            <td> Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td> Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT411</td>
            <td> Fall 2022</td>
        </tr>
        <tr>
            <td> BMGT407</td>
            <td> Spring 2023</td>
        </tr>
    </table>
    <p>Nichelle's favorite links:</p>
    <ul><!--Nichelle's favorite websites-->
        <li><a href = "hello"> Click Here </a></li>
        <li><a href = "https://www.testudo.umd.edu"> Testudo UMD</a></li>
        <li><a href = "https://elms.umd.edu"> ELMS Website</a></li>
    </ul>

    <p> This is a picture of the Robert H. Smith School of Business Logo</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="277" height="77" alt="Smith Logo">
</body>
</html>