<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>
    <p>Navigation Bar</p>
    <p>Profile Picture</p>
    <p>Date Selection</p>
    <p><a href="http://localhost:63342/helloWorld2/templates/dailyschedule.html?_ijt=coblj2f4ajeefsng2hjgau5004">Interactive Calendar</a>.</p>
    <p>Total Number of Events Widget</p>
    <p>Total Number of Students Widget</p>
    <p>Percentage of Events Completed Widget</p>
    <p>Number of New Recruits Graph Widget</p>
    <p>Upcoming Events Widget</p>
</body>
</html>